<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Aplicacion Ventas | Creacion de Clientes</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del cliente</strong></h4>              
          <div class="card-body">
            <form th:action="@{/clientes/save}" method="post" th:object="${cliente}">
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
					Por favor corrija los siguientes errores:
					<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				  </div>              
              <h6 class="text-primary border-bottom pb-1">Datos personales</h6>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Nombre</label>
                        <input type="hidden" th:field="*{id}">
                        <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre del cliente">
                    </div>

                    <div class="col-md-8">
                        <label class="form-label">Apellido 1</label>
                        <input type="text" class="form-control" th:field="*{apellido1}" placeholder="Primer apellido del cliente">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Apellido 2</label>
                        <input type="text" class="form-control" th:field="*{apellido2}" placeholder="Segundo apellido del cliente">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Ciudad</label>
                        <input type="text" class="form-control" th:field="*{ciudad}" placeholder="Ciudad del cliente">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Categoria</label>
                        <input type="number" class="form-control" th:field="*{categoria}">
                    </div>
                </div>
              <hr>
              <div class="d-flex justify-content-end gap-2">
                    <a th:href="@{/clientes}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>