<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <header th:insert="~{fragments/menu :: menu-principal}"></header>
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Empleados</strong></h4>              
          <div class="card-body">
          <a class="btn btn-primary" th:href="@{/empleados/create}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Emp ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Trabajo</th>
                  <th scope="col">MGR</th>
                  <th scope="col">Salario</th>
                  <th scope="col">Comm</th>
                  <th scope="col">Dept ID</th>
                  <th scope="col">HireDate</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="emp : ${empleados}">
                
                  <th scope="row" th:text="${emp.empno}"></th>
                  <!--<td><img th:src="@{/img/{img}(img = ${emp.img})}" width="136" height="136"></td>-->
                  <td th:text="${emp.ename}"></td>
                  <td th:text="${emp.job}"></td>
                  <td th:text="${emp.mgr}"></td>
                  <td th:text="${emp.sal}"></td>
                  <td th:text="${emp.comm}"></td>
                  <td th:text="${emp.dept.deptno}"></td>
                  <td th:text="${emp.hiredate}"></td>
                  <td>
                    <a th:href="@{/empleados/edit/{id} (id=${emp.empno})}" class="btn btn-success btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/empleados/delete/{id} (id=${emp.empno})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>                              
              </tbody>
            </table>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>
    <footer th:insert="~{fragments/footer :: pie-pagina}"></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>